.responsiveCal {

position: relative; padding-bottom: 75%; height: 0; overflow: hidden;

}

.responsiveCal iframe {

position: absolute; top:0; left: 0; width: 100%; height: 100%;

}

.resources-img {
  border-style: none !important;

}

.resources-img img {
  max-width: 200px;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.resource_sub{
  font-size: 22px;
  color: #9c9cb4;
}
